*{
    word-wrap: break-word;
}
body{
    padding: 1rem 2rem;
background-color:beige ;

}
@media screen and (min-width:900px){
    body{
        padding: 1rem 3rem;
    }
}

.header{
font-size: 50px;
text-align: center;
}

.image-container{
    text-align: center;
}

.github-container{
    text-align: center;
    font-size: 30px;
}

.image{
    width: 500px;
    max-width: 100%;
}

.presentation{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.experience-container{
    text-align: center;
}

.experiences{
    font-size: 20px;
    margin:auto;
}

@media screen and (min-width:900px){
    .experiences{
        width: 300px;
    }
}